.sidenav {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 58px;
  background-color: rgb(55, 98, 117);
  transition: 0.5s;
}

.sidenav a {
  font-size: 20px;
  text-align: left;
  color: rgb(204, 204, 204);
  text-decoration: none;
  transition: 0.3s;
}

.sidenav a:hover {
  color: rgb(255, 255, 255);
}
